@import url('https://fonts.googleapis.com/css2?family=Esteban&family=Montserrat&display=swap');

/*
font-family: 'Esteban', serif;
font-family: 'Montserrat', sans-serif;
*/

html { 
	scroll-behavior: smooth
}

body {
	display: flex;
  	padding: 0px;
  	margin: 0px;
  	background: #F9EED9;
}

.container {
	display: flex;
	width: 100%;
	padding-top: 7vh;
	justify-content: flex-end;
	flex-wrap: wrap;
}

.fixed{
	display: flex;
	position: fixed;
	z-index: 99;
	top: 7vh;
}


.navigation ul {
	display: flex;
	position: relative;
	justify-content: right;
	width: calc(77vw - 2vh);
	gap: 1.5vw;
	list-style: none;
	font-family: 'Esteban', serif;
	font-size: calc(2vh + 1vw);
}

.navigation li a {
	text-decoration: none;
	color: #AB6E58;
}

.navigation li a:hover {
	color: #515151;
}

.logo {
	justify-content: flex-start;
    padding-left: 5vw;
}

.break {
	flex-basis: 100%;
	height: 0;
}

.titlehello {
	font-family: 'Montserrat', sans-serif;
	color: white;
	font-size: 6vw;
	padding-top: 20vh;
	padding-right: 28vw;
}

#titlebg {
 	display: flex;
	justify-content: space-between;
	list-style: none;
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: url(Images/background.gif); 
	background-size: cover;
}

#aboutbg {
	display: flex;
	justify-content: center;
	background-color: #FFF8E7;
	margin-top: 100vh;
	width: 100vw;
	height: 100vh;
	position: relative;
}

.textformat {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-left: 3vw;
	width: 45vw;
}

.aboutme {
	font-family: 'Esteban', serif;
	font-size: 2vw;
	color: #AB6E58;
}

.imgformat {
	display: flex;
	justify-content: flex-end;
	padding-left: 15vw;
	align-items: center;
}

#aboutbg img {
	pointer-events: none;
	max-width: 70vw; max-height: 80vh
}

.move {
    animation: mover 1s infinite  alternate;
    -webkit-animation: mover 1s infinite  alternate;
}

@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-5vh); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-5vh); }
}

.musicbg {
	display: flex;
	flex-direction: column;
	position: relative;
	align-items: center;
	background-color: #FFF3E0;
	width: 100vw;
	height: 100vh;
}

.musicbg h1 {
	font-family: 'Esteban', serif;
	font-size: 2vw;
	color: #AB6E58;
	padding-top: 0.5vh;
	padding-left: 3vw;
	width: 97vw;
	text-align: center;
}

#worksbg {
	display: flex;
	position: absolute;
	background-color: #F9EED9;
	width: 100vw;
	height: 100vh;
}


/* GRID SYSTEM */
/* Credit: https://codepen.io/flyingcar/pen/jmvLqG */
.row {
	padding-left: 15vw;
	margin-right: 15vw;
}

.container_grid {
	display: flex;
	width: 100%;
	padding-top: 20vh;
	justify-content: center;
	flex-wrap: wrap;
}

.test_box {
	padding: 0;
}

.test_box .inner {
	background: #333;
	display: block;
	margin: 1vw;
	overflow: hidden;
}

.test_box .inner .test_click {
	-webkit-align-content: center;
	-ms-flex-line-pack: center;
	align-content: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	background-color: rgba(0,0,0,.1);
	color: #fff;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	height: 300px;
	mix-blend-mode: normal;
	text-align: center;
	text-decoration: none;
	-webkit-transition: all 300ms ease;
	transition: all 300ms ease;
}

.test_box .inner .test_click:hover {
	background-color: #AB6E58; 
	mix-blend-mode: light;
}

.flex_this {
	-webkit-align-content: center;
	-ms-flex-line-pack: center;
	align-content: center;
	display: inherit;
	flex-wrap: inherit;
	height: auto;
	margin: 0;
	padding: 10px;
	-webkit-transition: all 300ms ease;
	transition: all 300ms ease;
	width: 100%;

}

.test_box .inner .test_click:hover .flex_this {
	margin-top: -5px;
}

.test_title {
	display: block;
	font-weight: 700;
	margin: 0 0 20px;
	width: 100%;
	font-family: 'Montserrat', sans-serif;
}

.test_link {
	border: 2px solid #fff;
	display: inline-block;
	font-size: .8em;
	font-weight: 700;
	letter-spacing: .1em;
	margin: 0 auto;
	padding: 10px 30px;
	text-transform: uppercase;
	font-family: 'Esteban', serif;
}

.box-01 .inner {
	background-image: url(Images/LogoCover.png);
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
}
.box-02 .inner {
	background-image: url(Images/AmazonCover.png);
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
}
.box-03 .inner {
	background-image: url(Images/CTCover.png);
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
}
.box-04 .inner {
	background-image: url(Images/CafeCover.jpg);
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
}