@import url('https://fonts.googleapis.com/css2?family=Esteban&family=Montserrat&display=swap');

/*
font-family: 'Esteban', serif;
font-family: 'Montserrat', sans-serif;
*/

body {
	display: flex;
  	padding: 0px;
  	margin: 0px;
  	background: #F9EED9;
}

.fixed{
	display: flex;
	position: fixed;
	z-index: 99;
	top: 7vh;
}

.navigation ul {
	display: flex;
	position: relative;
	justify-content: right;
	width: calc(77vw - 2vh);
	gap: 1.5vw;
	list-style: none;
	font-family: 'Esteban', serif;
	font-size: calc(2vh + 1vw);
}

.navigation li a {
	text-decoration: none;
	color: #AB6E58;
}

.navigation li a:hover {
	color: #515151;
}

.logo {
	justify-content: flex-start;
    padding-left: 5vw;
}

.container {
	display: flex;
	width: 100%;
	padding-top: 23vh;
	justify-content: center;
	position: relative;
	flex-wrap: wrap;
}

.container1 {
	display: flex;
	width: 100%;
	justify-content: center;
	position: relative;
	flex-wrap: wrap;
}

.container2 {
	display: flex;
	width: 100%;
	justify-content: flex-start;
	position: relative;
	flex-wrap: wrap;
}

.break {
	flex-basis: 100%;
	height: 0;
}

.textformat{
	width: 43%;
	justify-content: center;
	align-items: center;
}

.logoh1 {
	font-family: 'Montserrat', sans-serif;
	color: #AB6E58;
	font-size: 3vw;
}

.logoh2 {
	font-family: 'Esteban', serif;
	color: #DEAD8A;
	font-size: 1.8vw;
}

.logocase {
	font-family: 'Esteban', serif;
	color: #DEAD8A;
	font-size: 1.8vw;
	padding-top: 2vh;
	padding-bottom: 2vh;
	width: 70%;
	padding-left: 17vw;
}

.vidh2 {
	width: 34%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding-left: 10vw;
	font-family: 'Esteban', serif;
	color: #DEAD8A;
	font-size: 1.8vw;
}

.fronth2 {
	width: 35%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Esteban', serif;
	color: #DEAD8A;
	font-size: 1.8vw;